<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @news.title %>
</p>

<p>
  <b>Body:</b>
  <%= @news.body %>
</p>

<p>
  <b>Publisher:</b>
  <%= @news.publisher %>
</p>


<%= link_to 'Back', news_path %>
