<table>
	<thead>
		<tr>
			<th><%= :id %></th>
			<th><%= :login %></th>
			<th><%= :email %></th>
			<th><%= :last_request_at %></th>
			<th><%= :login_count %></th>
			<th><%= :created_at %></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
		<tr>
                        <td><%= image_tag user.url_thumb %></td>
			<td><%= user.id %></td>
			<td><%= user.login %></td>
			<td><%= user.email %></td>
			<td><%= l user.last_request_at, :format => :short if user.last_request_at %></td>
			<td><%= user.login_count %></td>
			<td><%= l user.created_at, :format => :short %></td>
			<td>
				<%= link_to "edit", edit_admin_user_path(user), :title => :edit, :class => "edit" %>&nbsp;
				<%= link_to "delete", admin_user_path(user), :method => :delete, :confirm => :delete_confirm, :title => :delete, :class => "delete" %>
			</td>
		</tr>
		<% end %>
	</tbody>

	<tfoot>
		<tr>
			<td colspan="4">
				<%= render :partial => "admin/shared/pagination", :locals => { :pagination => @users } %>
				<div class="clear"></div>
			</td>
		</tr>
	</tfoot>
</table>