<h3>用户密码修改</h3>

<ul class="shortcut-buttons-set">
	<li><%= link_to "返回控制面板", admin_root_path(), :class => "shortcut-button home" %></li>
</ul>

<div class="clear"></div>

<div class="content-box">
	<div class="content-box-header">
		<h3>修改 <%= current_user.login %>的密码</h3>
	</div>

	<div class="content-box-content">
		<%= semantic_form_for(current_user, :url => update_password_admin_users_path(), :method => :put) do |form| %>
			<%= form.inputs do %>
				<%= form.input :old_password, :input_html => { :class => "text-input medium-input" } %>
				<%= form.input :password, :input_html => { :class => "text-input medium-input" } %>
				<%= form.input :password_confirmation, :input_html => { :class => "text-input medium-input" } %>
			<% end %>

			<%= form.buttons do %>
				<%= form.commit_button true, :button_html => { :class => "button" } %>
			<% end %>
		<% end %>
	</div>
</div>