<div class="content">

<h1>发布新产品</h1>
<div style="text-align: center">
  <%= semantic_form_for(@product, :html => { :multipart => true }) do |f|%>
  <div>
  <%= f.input :title, :label=> "标题:   ", :wrapper_html => { :style => "margin:10px;" } %>
   
    <%= f.input :tel, :label => "电话:   ", :wrapper_html => { :style => "margin:10px;" } %>
    <%= f.input :avatar, :label => "图片:   ", :wrapper_html => { :style => "margin:10px;" } %>
  </div>
  描述:

  <%= f.input :description, :label => false,%>
    <%= f.buttons do %>
      <%= f.commit_button %>
    <% end %>
  <% end %>
  </div>
<%= link_to "back" , products_path %>
  </div>





