
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=Utf-8" />

        <title>川南煤炭市场网</title>

<meta name="description" content="千寻网-京东旗下服饰垂直网,您最可信任的网上品牌服饰购物商城,数千名品聚集地——京东商城全力打造的开放平台,在线B2C购物平台（B2C，Business to Customer）.在千寻网购物,享受100%正品保障,7天退换货,提供发票的服务.千寻网,将为您提供高质量的购物体验">

<meta name="Keywords" content="网上购物,网上商城,品牌,直销,服装,鞋靴,配饰,手表,内衣,折扣,jackjones,only,nike,zara,千寻网,京东商城">




<%= stylesheet_link_tag "homestyle", "mystyle" %>

		<%= javascript_include_tag "jquery-1.5.1", "kinslideshow" %>




    </head>

    <body id="body">
     <%= render "shared/header" %>
<%= yield %>
     <%= render "shared/footer" %>

</body>
</html>
